.product-parent {
    /* overflow: hidden; */
}

.product {
    --hue: 328deg;
    --accent: var(--hue) 100% 54%;
    --indicator-size: 2px;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    position: relative;
    padding-left: 9px;
}

.product:matches(header, nav, section, article, a) {
    /* outline-color: hsl(var(--accent)); */
    outline-offset: -5px;
}

.product-nav > a {
    margin-right: 20px;
    text-transform: capitalize;
    scroll-snap-align: start;

    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    font-size: 14px;
    /* color: var(--color-scorpion); */
    outline: none;
    font-family: helvet;
    cursor: pointer;
}

.product-nav a:focus {
    outline: -0.5ch;
}

.product-nav {
    margin-bottom: 21px;
}

.scroll-snap-x {
    overflow: auto hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    position: relative;
}

/* .product-header {
    margin-bottom: 17px;
} */

.product-indicator {
    inline-size: 0;
    block-size: 1px;
    border-radius: 2px;
    background-color: var(--color-scorpion);
    width: 85%;
    position: relative;
}

.product-location {
    border: 2px solid var(--color-deep-sea-green);
    height: 2px;
    left: 0;
    transform: translateY(-2px);
    width: calc(100% / 4);
    position: relative;
    /* margin-left: 10px; */
}

.product-nav-active {
    color: var(--color-deep-sea-green);
}

.product-nav-normal {
    color: var(--color-scorpion);
}

.product section {
    block-size: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
}

.product article {
    scroll-snap-align: start;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    height: 161px;
}

.product article > p {
    width: 85%;
    font-family: Helvetica, sans-serif;
    /* color: var(--color-scorpion); */
    font-weight: 200;
    line-height: 23px;
    font-size: 14px;
    text-align: justify;
}

.scroll-snap-x {
    scrollbar-width: none;
}

.scroll-snap-x::-webkit-scrollbar {
    width: 0%;
    height: 0;
}

.product-cont {
    margin-top: 17px;
}
.product > header {
    flex-shrink: 0;
    min-block-size: fit-content;
    display: flex;
    flex-direction: column;
}

.product > header > .product-nav {
    display: flex;
}

.product-promo {
    margin-right: 27px;
    position: relative;
}

.product-promo--img {
    height: 168px;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.product-promo-cont {
    position: absolute;
    top: 21px;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 19px;
}

.product-promo--text {
    color: var(--color-deep-sea-green);
    font-size: 22px;
    line-height: 25px;
    font-weight: 400;
}

.product-promo--footer {
    font-size: 8px;
    width: 82%;
}
